{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}

{% block body %}

<div>
    <h1>Contact</h1>
    <p>Vous pouvez nous contacter à l'adresse suivante :
        <a href="mailto:contact@movieexplorer.com">contact@movieexplorer.com</a>
    </p>
</div>

{% endblock %}