    {% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}

{% block body %}

<div>
    <h1 class="text-3xl text-center mx-auto text-blue-800 font-bold uppercase mb-4">Découvrez les films</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for film in films %}
            <div class="bg-white rounded-lg shadow-md p-4">
                <h2 class="text-xl font-bold mb-2">{{ film.titre }}</h2>
                <p class="text-gray-500 text-sm">{{ film.annee }}</p>
            </div>
        {% endfor %}
</div>

{% endblock %}