{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}

{% block body %}

<div>
    <h1>Liste des films</h1>
    <li>Les visiteurs 1</li>
    <li>Tais-toi</li>
    <li>Django Unchained</li>
</div>

{% endblock %}