{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}

{% block body %}

<div>
    <h1>{{ titre }}</h1>
    <ul>
        {% for film in films %}
            <li>{{ film }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}